{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar_heading %}{{ sidebar_heading }}{% endblock %}
{% block sidebar %}
<ul>
  <li>Measurements and their errors</li>
  <li>Particles and radiation</li>
  <li>Waves</li>
  <li>Mechanics and materials</li>
  <li>Electricity</li>
  <li>Further mechanics and thermal physics</li>
  <li>Fields and their consequences</li>
  <li>Nuclear physics</li>
</ul>
<h4>Options</h4>
<ul>
  <li>Astrophysics</li>
  <li>Medical physics</li>
  <li>Engineering physics</li>
  <li>Turning points in physics</li>
  <li>Electronics</li>
</ul>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}
{% block content %}
Content
{% endblock %}