{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar_heading %}{{ sidebar_heading }}{% endblock %}
{% block sidebar %}
<p class="text-justify">
  Hi, I'm <b>Dalekvim</b> (Vimal Vinod), the <b>creator</b> of this website.
</p>
<p class="text-justify">
  I'm currently going to <b>Wigston Collage</b> (From 26-08-2020 to 2022, I think)
  and I'm a Math Enthusiast. I also sort of also like programming websites.
</p>
<p class="text-justify">
  This website is was intended as a way of organising all my <b>A Level</b>
  content to make it easier for me to revise when a test comes along.
  But I feel like it would be more benificial to make it public so that
  other people can edit, add to, and use it as well.
</p>
<h3>Contact me on</h3>
<ul>
  <li><a href="https://www.facebook.com/dalekvim">Facebook</a></li>
  <li><a href="https://twitter.com/dalekvim">Twitter</a></li>
  <li><a href="https://www.linkedin.com/in/vimal-vinod-53489b195/">LinkedIn</a></li>
  <li><a href="https://www.reddit.com/user/dalekvim">Reddit</a></li>
</ul>
<p>
  if you have any suggestions on how to improve this site.<br>
  Or, if you just want to chat, that's fine too!
</p>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}
{% block content %}
<h2>Introduction</h2>
<p class="text-justify">
  The <b>A Level Revision</b> website is going to be quite a large project so it's quite hard for me to predict,
  not just when, but if I will ever be finished; I don't think I've ever planned something as big as this before,
  but I am definately not planning to give up.
</p>

<h3>Few things you should know:</h3>
<ul>
  <li>
    If you see one of these '#' in the url after you clicked on a link (known as a 'dead link'),
    it may mean that I haven't gotten around to making the page that it leads to yet, or, more likely,
    I forgot to fill in the destination address. My bad...
  </li>
  <br>
  <li>
    If you go up and click on 'Navbar'; you will see an example of a dead link.
  </li>
</ul>
{% endblock %}