{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar_heading %}{{ sidebar_heading }}{% endblock %}
{% block sidebar %}
<ul>
  <li>Fundimentals of</li>
  <ul>
    <li>Programming</li>
    <li>Data structures</li>
    <li>Algorithms</li>
  </ul>

  <li>Theory of</li>
  <ul>
    <li>Computation</li>
  </ul>

  <li>Fundimentals of</li>
  <ul>
    <li>Data representation</li>
    <li>Computer systems</li>
    <li>Computer organisation and architecture</li>
  </ul>

  <li>Consequences of</li>
  <ul>
   <li>Uses of computing</li>
  </ul>
  
  <li>Fundamentals of</li>
  <ol>
    <li>Communication and networking</li>
  </ol>

  <li>Fundamentals of</li>
  <ul>
    <li>databases</li>
  </ul>

  <li>Big Data</li>

  <li>Fundamentals of</li>
  <ul>
    <li>Functional programming</li>
  </ul>

  <li>Systematic approach to problem solving</li>

  <li>Non-exam assessment - the computing practical project</li>
</ul>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}
{% block content %}
Content
{% endblock %}