{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block sidebar_heading %}{{ sidebar_heading }}{% endblock %}
{% block sidebar %}
<ul>
  <li>Fundamentals of programming</li>
  <li>Fundamentals of data structures</li>
  <li>Fundamentals of algorithms</li>
  <li>Theory of computation</li>
  <li>Fundamentals of data representation</li>
  <li>Fundamentals of computer systems</li>
  <li>Fundamentals of computer organisation and architecture</li>
  <li>Consequences of uses of computing</li>
  <li>Fundamentals of communication and networking</li>
  <li>Fundamentals of databases</li>
  <li>Big Data</li>
  <li>Fundamentals of functional programming</li>
  <li>Systematic approach to problem solving</li>
  <li>Non-exam assessment - the computing practical project</li>
</ul>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}
{% block content %}
Content
{% endblock %}